.overflow-hidden {
  overflow: hidden;
}
.overflow-hidden body {
  overflow: hidden;
}

.block-scroll {
  overflow: hidden;
  height: 100%;
}
.block-scroll body {
  overflow: hidden;
  height: 100%;
}

.page .p-0 {
  padding: 0;
}
.page .pb-0 {
  padding-bottom: 0;
}
.page .pt-10 {
  padding-top: 10px;
}
.page .pb-60 {
  padding-bottom: 60px;
}
.page .pl-95 {
  padding-left: 95px;
}
.page .mb-30 {
  margin-bottom: 30px;
}
.page .mb-55 {
  margin-bottom: 55px;
}
.page .flex-start {
  align-items: flex-start;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button,
input,
textarea {
  outline: transparent;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  -webkit-appearance: none;
  border-radius: 0;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button::placeholder,
input::placeholder,
textarea::placeholder {
  color: inherit;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-btnon,
input::-webkit-inner-spin-btnon {
  -webkit-appearance: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

body {
  min-width: 320px;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.17;
  color: #1A1A1A;
  background-color: #fff;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.container--lg {
  max-width: 1360px;
}

.logo {
  display: inline-block;
}
.logo img {
  vertical-align: middle;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page__content {
  flex-grow: 1;
  padding-top: 120px;
  padding-bottom: 100px;
}

.section {
  padding: 50px 0;
}
.section__title {
  font-size: 32px;
  line-height: 1.2;
  font-family: "Playfair Display", sans-serif;
  font-weight: 500;
  margin-bottom: 60px;
  text-align: center;
}
.section__subtitle {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 30px;
  text-align: center;
}

.color-secondary, .profile__nav li span, .vacancy__item-subtitle span, .categories__row li span, .navigation__submenu-heading, .section__subtitle {
  background: linear-gradient(45.5deg, #008ce9 1.68%, #00bb9a 97.52%, #68e0cf 97.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  text-align: center;
  cursor: pointer;
  white-space: break-spaces;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 10px;
  transition: 0.25s ease-in-out;
  color: #46B737;
  border: 2px solid transparent;
}
.btn--primary {
  background-color: #46B737;
  color: #fff;
}
.btn--primary:active {
  background-color: #0e7500;
}
.btn--primary.btn--disabled {
  border: 1px solid #9e9e9e;
}
@media screen and (min-width: 1024px) {
  .btn--primary:hover {
    background-color: #338528;
  }
}
.btn--outline {
  border: 2px solid #044407;
  color: #044407;
  font-weight: 600;
}
.btn--outline span {
  position: relative;
}
.btn--outline span::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #044407;
  transition: 0.25s ease-in-out;
}
.btn--outline:active {
  background-color: #0e7500;
}
@media screen and (min-width: 1024px) {
  .btn--outline:hover {
    background-color: #338528;
    color: #fff;
    border-color: transparent;
  }
  .btn--outline:hover span::after {
    background-color: #fff;
  }
}
.btn--flex {
  display: inline-flex;
  justify-content: space-between;
  width: 350px;
  max-width: 100%;
  align-items: center;
  font-weight: 600;
  padding: 13px 45px;
}
.btn--flex svg, .btn--flex img {
  margin-left: 10px;
}
.btn--flex.btn--outline span::after {
  display: none;
}
@media screen and (min-width: 1024px) {
  .btn--flex.btn--outline path {
    transition: 0.25s ease-in-out;
  }
  .btn--flex.btn--outline:hover path {
    fill: #fff;
  }
}
.btn--underline {
  color: #044407;
  font-weight: 600;
  padding: 0;
}
.btn--underline span {
  position: relative;
}
.btn--underline span::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #044407;
  transition: 0.25s ease-in-out;
}
.btn--underline:active {
  color: #0e7500;
}
@media screen and (min-width: 1024px) {
  .btn--underline:hover {
    color: #0e7500;
  }
  .btn--underline:hover span::after {
    background-color: #0e7500;
  }
}
.btn--disabled {
  color: #9e9e9e;
  border-color: #9e9e9e;
  background-color: transparent;
  pointer-events: none;
}

.overlay {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  bottom: 9px;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 0.25s ease-in-out;
  opacity: 0;
  background-color: rgba(39, 39, 39, 0.5);
}
.overlay.active {
  opacity: 1;
  display: block;
}

.list li {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 26px;
  margin-bottom: 20px;
}
.list li:last-child {
  margin-bottom: 0;
}
.list li::before {
  content: "";
  position: absolute;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #338528;
}
.list--dark li::before {
  background-color: #044407;
}

.form__item {
  margin-bottom: 30px;
}
.form__item span {
  margin-bottom: 5px;
  display: block;
  font-size: 14px;
  line-height: 1.43;
}
.form__item span.required::before {
  content: "*";
  color: #e5aaaa;
  font-weight: 700;
  font-size: 16px;
}
.form__item select {
  display: block;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 100%;
  padding: 10px 34px 10px 14px;
  font-size: 14px;
  color: inherit;
  background: url("../img/arrow-down.svg") right 10px center no-repeat;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.form__item textarea {
  display: block;
  width: 100%;
  min-height: 230px;
  background-color: #fff;
  border: 1px solid #C2C2C2;
  border-radius: 4px;
  padding: 5px 10px;
  resize: vertical;
}
.form__item textarea::placeholder {
  color: #C2C2C2;
}
.form__item input {
  display: block;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 100%;
  padding: 10px 14px;
  font-size: 14px;
  color: inherit;
}
.form__item input::placeholder {
  color: #757575;
}
.form__item-textarea-caption {
  color: #9E9E9E;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  margin-top: 5px;
  text-align: right;
}
.form__item-caption, .form__avatar-caption {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #a2c1a3;
  margin-top: 5px;
}
.form__avatar {
  margin-bottom: 20px;
}
.form__avatar input {
  display: none;
}
.form__avatar label {
  display: block;
  cursor: pointer;
  margin-bottom: 10px;
}
.form__avatar-body {
  width: 65px;
  height: 65px;
  position: relative;
}
.form__avatar-body::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: url("../img/avatar-edit.svg") center no-repeat;
}
.form__avatar-body img {
  width: 65px;
  height: 65px;
}
.form__link {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #044407;
  margin-bottom: 30px;
}
.form__link:hover {
  text-decoration: underline;
}
.form__btn {
  width: 100%;
  margin-bottom: 30px;
  padding: 12px 30px;
}
.form__radio label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.form__radio input {
  display: none;
}
.form__radio input:checked ~ .form__radio-circle::after {
  opacity: 1;
}
.form__checkbox label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.form__checkbox input {
  display: none;
}
.form__checkbox input:checked ~ .form__checkbox-element {
  background-color: #46B737;
}
.form__checkbox-element {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border: 1px solid #46B737;
  border-radius: 4px;
  transition: 0.25s ease-in-out;
}
.form__checkbox-text {
  font-size: 14px;
  line-height: 1.43;
  margin: 10px;
}
.form__radio-circle {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border: 1px solid #1A1A1A;
  border-radius: 50%;
}
.form__radio-circle::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #044407;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.25s ease-in-out;
}
.form__radio-text {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.43;
  margin-left: 8px;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 22;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.header-profile .navigation__list > li > a {
  padding: 41px 10px;
}
.header-profile .header__menu-inner {
  margin: 0 auto;
}
.header-profile .header__menu {
  flex-grow: 1;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__menu--login {
  margin-left: 93px;
  margin-right: auto;
}
.header__menu .header__buttons {
  display: none;
}
.header__menu.active .header__buttons {
  display: block;
}
.header__profile {
  display: flex;
  align-items: center;
}
.header__avatar {
  margin-left: 30px;
}
.header__avatar img {
  border-radius: 50%;
  width: 65px;
  height: 65px;
}
.header__buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header__navigation {
  margin-right: 49px;
  margin-left: auto;
}
.header__btn.btn--outline {
  padding: 11px 13px;
  margin-right: 30px;
}
.header__close {
  display: none;
  color: #1A1A1A;
  font-size: 50px;
}
.header__burger {
  display: none;
  margin-left: 30px;
}
.header__burger span {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #1A1A1A;
  margin-bottom: 6px;
}
.header__burger span:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .header__burger {
    display: block;
  }
}

.navigation {
  font-size: 16px;
  font-weight: 600;
}
.navigation__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.navigation__list > li {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .navigation__list > li:hover .navigation__submenu {
    display: block;
  }
}
.navigation__list > li > a {
  display: block;
  padding: 41px 22px;
}
.navigation__list > li > a > img {
  vertical-align: text-bottom;
  margin-left: 5px;
}
.navigation__list a {
  transition: 0.25s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .navigation__list a:hover {
    color: #46B737;
  }
}
.navigation__submenu {
  display: none;
}
@media screen and (min-width: 1024px) {
  .navigation__submenu {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    padding: 30px 0;
    border-top: 1px solid #d6d6d6;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), -2px -5px 8px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 20px 20px;
    background-color: #fff;
    min-height: 400px;
  }
}
.navigation__submenu-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0 35px;
}
.navigation__submenu-row--gap-md {
  gap: 0 56px;
}
.navigation__submenu-row--gap-lg {
  gap: 0 140px;
}
.navigation__submenu-col {
  max-width: 260px;
}
.navigation__submenu-col > li {
  margin-bottom: 20px;
  font-weight: 500;
}
.navigation__submenu-col > li:last-child {
  margin-bottom: 0;
}
.navigation__submenu-title {
  display: block;
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 5px;
}
.navigation__submenu-info {
  font-size: 14px;
  line-height: 1.43;
}
.navigation__submenu-caption {
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  margin-top: 5px;
}
.navigation__submenu-heading {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
}

.hero {
  padding-top: 125px;
}
.hero__inner {
  display: flex;
  align-items: center;
}
.hero__content {
  width: 67%;
}
.hero__title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 500;
  font-size: 56px;
  line-height: 1.46;
  letter-spacing: 0.01em;
  margin-bottom: 45px;
  max-width: 600px;
}
.hero__subtitle {
  font-size: 24px;
  margin-bottom: 70px;
  max-width: 445px;
}
.hero__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px -15px;
}
.hero__btn {
  margin: 10px 15px;
  text-decoration: none;
}
.hero__img {
  width: 33%;
}

.coop__inner {
  display: flex;
  align-items: center;
}
.coop__img {
  width: 47%;
  padding-right: 30px;
}
.coop__list {
  margin-bottom: 50px;
}
.coop__content {
  width: 53%;
}

.categories {
  overflow: hidden;
}
.categories__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -46px;
  padding-bottom: 40px;
}
.categories__row ul {
  max-width: calc(50% - 92px);
  margin: 0 46px;
}
.categories__row li {
  margin-bottom: 20px;
}
.categories__row li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categories__row li:last-child {
  margin-bottom: 0;
}
.categories__row li span {
  font-weight: 500;
  font-size: 14px;
  margin-left: 70px;
}
.categories__btn-wrapper {
  text-align: center;
}

.why__inner {
  display: flex;
  align-items: center;
}
.why__content {
  width: 70%;
  padding-right: 30px;
}
.why__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px -15px;
}
.why__btn {
  margin: 10px 15px;
}
.why__list {
  margin-bottom: 50px;
}
.why__img {
  width: 30%;
}

.vacancy__inner {
  display: flex;
}
.vacancy__img {
  padding-right: 30px;
  width: 41%;
  pointer-events: none;
}
.vacancy__content {
  width: 59%;
}
.vacancy__title {
  margin-bottom: 30px;
  max-width: 470px;
  font-size: 24px;
  color: #141414;
}
.vacancy__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px -15px;
  padding-bottom: 50px;
}
.vacancy__btn {
  margin: 10px 15px;
}
.vacancy__subtitle {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
  color: #141414;
}
.vacancy__list {
  display: flex;
  margin: 0 -10px;
}
.vacancy__item {
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  min-width: 225px;
  flex-shrink: 0;
}
.vacancy__item--all {
  display: flex;
  min-width: 155px;
  text-align: center;
  color: #46B737;
  box-shadow: none;
  border: 1px solid #46B737;
}
.vacancy__item--all .vacancy__item-title {
  margin-bottom: 5px;
}
.vacancy__item-inner {
  display: block;
  padding: 20px 15px 20px 15px;
  width: 100%;
}
.vacancy__item-title {
  font-size: 18px;
  line-height: 1.57;
  font-weight: 500;
  margin-bottom: 15px;
}
.vacancy__item-subtitle {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
}
.vacancy__item-subtitle span {
  font-size: 14px;
  line-height: 1.43;
  font-weight: 500;
  margin-left: 10px;
}

.login {
  padding-top: 80px;
}
.login .container {
  position: relative;
}
.login__inner {
  position: relative;
  max-width: 350px;
  margin: 0 auto;
}
.login__img {
  position: absolute;
  right: -300px;
  top: calc(50% + 30px);
  transform: translateY(-50%);
}
.login__img-left {
  position: absolute;
  left: 15px;
  bottom: 50px;
}
.login__btn {
  margin-bottom: 30px;
}
.login__policy {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  margin-bottom: 20px;
}
.login__policy a {
  color: #044407;
}
.login__policy a:hover {
  text-decoration: underline;
}
.login__footer {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: -8px;
}
.login__link-caption {
  font-weight: 600;
  font-size: 16px;
  margin: 8px;
}
.login__link {
  margin: 8px;
}
.login__link.btn {
  flex-grow: 0;
}
.login__radiobuttons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 50px;
}
.login__divider {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #044407;
  flex-shrink: 0;
  margin-bottom: 30px;
}
.login__divider::before, .login__divider::after {
  content: "";
  display: block;
  flex-shrink: 1;
  height: 1px;
  width: 100%;
  background-color: #044407;
}
.login__divider::before {
  margin-right: 10px;
}
.login__divider::after {
  margin-left: 10px;
}

.profile {
  font-size: 14px;
  padding-top: 70px;
}
.profile__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: -8px;
  padding-bottom: 45px;
}
.profile__title {
  margin: 8px;
  font-size: 16px;
  font-weight: 600;
}
.profile__title a {
  margin-left: 10px;
  color: #044407;
}
.profile__title button {
  margin-left: 30px;
}
.profile__title img {
  vertical-align: middle;
}
.profile__edit {
  margin: 8px;
  color: #044407;
}
.profile__edit img {
  vertical-align: middle;
  margin-right: 5px;
}
.profile__inner {
  display: flex;
}
.profile__aside {
  width: 255px;
}
.profile__photo {
  margin-bottom: 20px;
}
.profile__contacts-count {
  font-size: 14px;
  color: #044407;
  margin-bottom: 20px;
}
.profile__contacts-count span {
  margin-left: 20px;
}
.profile__nav {
  margin-bottom: 20px;
}
.profile__nav li {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
  transition: padding 0.25s ease-in-out;
}
.profile__nav li.active {
  position: relative;
  padding-left: 7px;
  font-weight: 600;
  color: #044407;
}
.profile__nav li.active::before {
  opacity: 1;
  transform: scaleX(1);
}
.profile__nav li::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(45.5deg, #008ce9 1.68%, #00bb9a 97.52%, #68e0cf 97.52%);
  border-radius: 5px;
  transition: 0.25s ease-in-out;
  opacity: 0;
  transform: scaleX(0);
}
.profile__nav li:last-child {
  margin-bottom: 0;
}
.profile__nav li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile__change-link {
  color: #044407;
  font-size: 14px;
  line-height: 1.43;
}
.profile__content {
  width: calc(100% - 255px - 30px);
  margin-left: 30px;
}
.profile__main {
  display: flex;
  line-height: 1.43;
  gap: 30px;
  margin-bottom: 20px;
}
.profile__info {
  width: calc(32% - 20px);
}
.profile__contacts {
  display: flex;
  flex-direction: column;
  width: calc(20% - 20px);
}
.profile__desc {
  width: calc(48% - 20px);
}
.profile__col-title {
  margin-bottom: 20px;
  font-weight: 600;
}
.profile__info-item {
  margin-bottom: 15px;
}
.profile__contacts-item {
  display: inline-block;
  color: #044407;
  margin-bottom: 15px;
}
.profile__contacts-item img {
  margin-right: 10px;
  vertical-align: bottom;
}
.profile__btn {
  margin-bottom: 15px;
}
.profile__categories {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 33px;
  margin-bottom: 15px;
}
.profile__categories li {
  font-weight: 500;
  font-size: 12px;
  padding: 3px 8px;
  background-color: #f2fff2;
  border: 1px solid #a2c1a3;
  border-radius: 50px;
  color: #338528;
}
.profile__desc-item {
  font-weight: 400;
  margin-bottom: 15px;
}

.profile-photo {
  position: relative;
}
.profile-photo > img {
  border-radius: 13px;
  height: 270px;
}
.profile-photo__content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 0px 0px 13px 13px;
  display: flex;
  gap: 15px 35px;
  padding: 10px;
}
.profile-photo__gmt {
  font-size: 12px;
  line-height: 1.67;
  font-weight: 500;
  margin-bottom: 7px;
}
.profile-photo__gmt-caption {
  color: #616161;
}
.profile-photo__online {
  font-size: 12px;
  line-height: 1.67;
  font-weight: 500;
  margin-bottom: 3px;
}
.profile-photo__rating {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #e5c100;
}
.profile-photo__rating img {
  margin-left: 5px;
}

.profile-box {
  padding: 25px 0;
}
.profile-box__title {
  font-family: "Playfair Display", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 20px;
}
.profile-box__item {
  margin-bottom: 20px;
}
.profile-box__item:last-child {
  margin-bottom: 0;
}
.profile-box__row {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 70px;
}
.profile-box__col {
  max-width: 280px;
}
.profile-box__col li {
  line-height: 1.43;
  margin-bottom: 15px;
}
.profile-box__col li:last-child {
  margin-bottom: 0;
}
.profile-box__col-title {
  font-weight: 500;
  font-size: 16px;
  color: #044407;
  line-height: 1.5;
  margin-bottom: 20px;
}
.profile-box__text {
  word-break: break-word;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio__item {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-height: 370px;
  width: calc(33.3333333333% - 20px);
}
.portfolio__title {
  margin-bottom: 10px;
}
.portfolio__subtitle {
  color: #757575;
  line-height: 1.43;
  margin-bottom: 10px;
}
.portfolio__img {
  margin-bottom: 10px;
}
.portfolio__img img {
  height: 100px;
  width: 100%;
}
.portfolio__text {
  line-height: 1.43;
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  min-height: 180px;
}
.card__content {
  display: flex;
  flex-direction: column;
  max-width: 520px;
  margin-right: 15px;
}
.card__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 10px;
}
.card__title--dark {
  color: #044407;
}
.card__desc {
  line-height: 1.43;
  margin-bottom: 10px;
}
.card__status {
  color: #044407;
  margin-top: auto;
}
.card__status--done {
  color: #757575;
}
.card__info {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.card__date {
  color: #757575;
  margin-bottom: 15px;
}
.card__price {
  align-self: flex-end;
  padding-left: 30px;
  background: url("../img/cash.svg") left no-repeat;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}
.card__price--dark {
  color: #044407;
}
.card__price-caption {
  color: #757575;
  font-size: 12px;
}
.card__connects {
  color: #757575;
  margin-top: auto;
}
.card__connects span {
  margin-left: 5px;
}

.vacancy-card__tags {
  font-weight: 500;
  font-size: 18px;
  color: #757575;
  margin-bottom: 20px;
}
.vacancy-card__tags ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.vacancy-card__desc {
  font-weight: 500;
  font-size: 18px;
  color: #757575;
  line-height: 1.56;
}
.vacancy-card__price {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #044407;
}

.review {
  border-bottom: 1px solid #e0e0e0;
  padding-left: 15px;
}
.review__content {
  width: 43%;
}
.review__footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 12px 16px;
}
.review__avatar {
  flex-shrink: 0;
}
.review__avatar img {
  vertical-align: middle;
  width: 40px;
  height: 40px;
}
.review__author {
  line-height: 1.67;
  font-weight: 500;
  color: #616161;
}
.review__answer {
  line-height: 1.67;
  color: #044407;
  margin-left: 30px;
}
.review__rating {
  width: 40%;
}
.review__rating ul {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.review__rating-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}
.review__rating-item:last-child {
  margin-bottom: 0;
}
.review__rating-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  flex-grow: 1;
}

.editing {
  font-size: 16px;
}
.editing__head {
  display: flex;
  gap: 30px;
  margin-bottom: 60px;
}
.editing__avatar {
  position: relative;
  background-color: #d9d9d9;
  border-radius: 10px;
}
.editing__avatar label > img {
  display: flex;
  border-radius: 10px;
  width: 160px;
  height: 160px;
}
.editing__avatar input {
  display: none;
}
.editing__avatar-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.editing__avatar-btn {
  display: flex;
}
.editing__head-info {
  display: flex;
  flex-direction: column;
}
.editing__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
.editing__head-text {
  font-size: 12px;
  line-height: 1.67;
  color: #757575;
  margin-top: auto;
}
.editing__change-link {
  color: #044407;
  font-size: 14px;
  align-self: flex-end;
  margin-left: auto;
}
.editing__box {
  margin-bottom: 50px;
}
.editing__box:last-child {
  margin-bottom: 0;
}
.editing__box-title {
  font-family: "Playfair Display", sans-serif;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
}
.editing__checkboxes {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 30px;
}
.editing__box-row {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.editing__box-col {
  width: calc(50% - 15px);
}
.editing__box-col--offset {
  padding-left: 55px;
}
.editing__box-col--offset .editing__select-wrapper {
  max-width: 100%;
}
.editing__box-col--offset .editing__item span {
  width: auto;
}
.editing__item {
  margin-bottom: 45px;
}
.editing__item:last-child {
  margin-bottom: 0;
}
.editing__item > label {
  display: flex;
  align-items: center;
  max-width: calc(100% - 40px);
}
.editing__item span {
  display: flex;
  align-items: center;
  width: 160px;
  min-width: 65px;
  margin: 0;
  margin-right: 30px;
  font-weight: 600;
  font-size: 16px;
  flex-shrink: 0;
}
.editing__item span img {
  flex-shrink: 0;
  margin-right: 10px;
}
.editing__item--start > label {
  align-items: flex-start;
  max-width: 100%;
}
.editing__item--start span {
  margin-top: 5px;
}
.editing__item--edit {
  display: flex;
  align-items: center;
}
.editing__item--edit label {
  width: 100%;
}
.editing__select-wrapper {
  display: flex;
  align-items: center;
  max-width: calc(100% - 40px);
}
.editing__selects {
  display: flex;
  gap: 10px 30px;
}
.editing__selects select {
  width: auto;
}
.editing__item-btn {
  margin-left: 20px;
  flex-shrink: 0;
}
.editing__item-add {
  display: flex;
  align-items: center;
}
.editing__item-add .editing__item-add-name {
  margin-right: 27px;
  width: 165px;
}
.editing__item-add .editing__item-add-value {
  width: calc(100% - 230px);
}
.editing__item-add .editing__item-add-btn {
  flex-shrink: 0;
  margin-left: 10px;
}
.editing__btn {
  padding: 11px 38px;
  font-weight: 600;
}

.footer {
  margin-top: auto;
  padding-top: 100px;
  padding-bottom: 135px;
  background: #044407;
  color: #fff;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
  padding-bottom: 60px;
  border-bottom: 1px solid #e0e0e0;
}
.footer__col {
  max-width: 255px;
}
.footer__col li {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  margin-bottom: 10px;
}
.footer__col li:last-child {
  margin-bottom: 0;
}
.footer__col a {
  display: block;
}
@media screen and (min-width: 1024px) {
  .footer__col a:hover {
    text-decoration: underline;
  }
}
.footer__title {
  margin-bottom: 20px;
  line-height: 1.56;
  font-weight: 500;
  font-size: 18px;
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 20px 0;
}

@media screen and (max-width: 1200px) {
  .vacancy__item {
    flex-shrink: 1;
    min-width: auto;
  }

  .review {
    gap: 0 20px;
  }
  .review__rating, .review__content {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 20px;
  }

  .section__title {
    font-size: 28px;
    margin-bottom: 45px;
  }
  .section__subtitle {
    margin-bottom: 20px;
  }

  .footer {
    padding: 60px 0;
  }
  .footer__inner {
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer__col {
    max-width: 100%;
    width: calc(50% - 40px);
  }

  .card__title {
    font-size: 16px;
  }

  .review {
    display: block;
  }
  .review__content {
    margin-bottom: 30px;
    width: 100%;
  }
  .review__rating {
    width: 100%;
  }

  .vacancy-card__desc, .vacancy-card__tags {
    font-size: 16px;
  }

  .profile {
    padding-top: 35px;
  }
  .profile__main {
    flex-wrap: wrap;
  }
  .profile__info, .profile__contacts, .profile__desc {
    width: auto;
    flex-grow: 1;
  }

  .login__img {
    right: -200px;
  }

  .header {
    padding: 12px 0;
  }
  .header-profile .navigation__list > li > a {
    padding: 10px 0;
  }
  .header-profile .header__menu {
    flex-grow: 0;
  }
  .header__menu-inner {
    display: none;
    transform: translateX(150%);
    position: absolute;
    right: 0;
    top: 0;
    width: 280px;
    height: 100vh;
    z-index: 10;
    padding: 50px 20px;
    background-color: #fff;
    transition: 0.25s ease-in-out;
    box-shadow: -6px -4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
  }
  .header__menu-inner.active {
    transform: translateX(0);
  }
  .header__close {
    display: block;
    position: absolute;
    right: 10px;
    top: -10px;
    z-index: 5;
  }
  .header__menu {
    order: 3;
  }
  .header__menu--login {
    margin-left: auto;
    margin-right: 0;
  }
  .header__buttons {
    order: 2;
    margin-left: auto;
  }

  .navigation {
    margin: 0;
    font-size: 20px;
  }
  .navigation__submenu {
    border-top: 1px solid #1A1A1A;
    padding-top: 15px;
    transition: 0.25s ease-in-out;
  }
  .navigation__submenu.active {
    display: block;
  }
  .navigation__submenu-title {
    line-height: 1.3;
  }
  .navigation__submenu-row {
    gap: 0;
  }
  .navigation__submenu-row .container {
    padding: 0;
  }
  .navigation__submenu-col > li:last-child {
    margin-bottom: 20px;
  }
  .navigation__list {
    display: block;
  }
  .navigation__list > li > a {
    font-weight: 500;
    text-align: center;
    padding: 10px 0;
  }
  .navigation__list > li > a > img {
    margin-bottom: 2px;
  }

  .hero {
    padding-top: 50px;
  }
  .hero__content {
    padding-right: 40px;
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.4;
    margin-bottom: 40px;
  }
  .hero__subtitle {
    font-size: 20px;
    margin-bottom: 50px;
  }

  .vacancy__inner {
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
  }
  .vacancy__content {
    width: auto;
    margin-bottom: 40px;
  }
  .vacancy__title {
    max-width: 100%;
    text-align: center;
    font-size: 20px;
  }
  .vacancy__subtitle {
    text-align: center;
  }
  .vacancy__list {
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px;
  }
  .vacancy__list::after {
    display: none;
  }
  .vacancy__item {
    margin: 10px;
    flex-grow: 1;
  }
  .vacancy__buttons {
    justify-content: center;
    margin-bottom: 140px;
  }
  .vacancy__img {
    position: absolute;
    right: 0;
    bottom: 170px;
    padding-right: 0;
    text-align: center;
    width: auto;
  }
  .vacancy__img img {
    width: 160px;
    transform: scaleX(-1);
  }

  .editing__box-col--offset {
    padding-left: 0;
  }
  .editing__item--start span {
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }

  .vacancy__title {
    font-size: 18px;
  }

  .section {
    padding: 35px 0;
  }
  .section__title {
    font-size: 26px;
    margin-bottom: 40px;
  }
  .section__subtitle {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .editing__item-add .editing__item-add-name {
    margin-right: 10px;
  }
  .editing__item-add .editing__item-add-value {
    width: calc(100% - 215px);
  }
  .editing__box--contacts .editing__box-row {
    flex-direction: column-reverse;
  }
  .editing__box-col {
    width: 100%;
  }
  .editing__box-col .editing__item span {
    width: 165px;
  }
  .editing__head {
    flex-wrap: wrap;
  }
  .editing__change-link {
    margin-left: 0;
  }
  .editing__item {
    margin-bottom: 30px;
  }
  .editing__item--start > label {
    max-width: calc(100% - 40px);
  }
  .editing__item span {
    margin-right: 10px;
  }

  .portfolio__title {
    font-size: 16px;
  }

  .vacancy-card__desc,
.vacancy-card__tags {
    font-size: 14px;
  }

  .profile__inner {
    flex-wrap: wrap;
  }
  .profile__btn {
    width: auto;
  }
  .profile__title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px 12px;
  }
  .profile__title span {
    display: flex;
    align-items: center;
    gap: 8px 12px;
  }
  .profile__title button,
.profile__title a {
    margin: 0;
  }
  .profile__content {
    width: auto;
    margin: 0;
  }
  .profile__aside {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
  }
  .profile__aside-col {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding-left: 30px;
  }
  .profile__photo {
    flex-shrink: 0;
  }
  .profile__change-link {
    order: -1;
  }

  .login {
    padding: 40px 0;
  }
  .login__img, .login__img-left {
    display: none;
  }

  .page__content {
    padding-top: 80px;
    padding-bottom: 30px;
  }

  .why__inner {
    flex-direction: column;
    align-items: center;
  }
  .why__content {
    padding-right: 0;
    margin-bottom: 50px;
    width: auto;
  }
  .why__buttons {
    justify-content: center;
  }
  .why__img {
    width: auto;
  }

  .categories__row {
    margin: 0 -25px;
  }
  .categories__row ul {
    margin: 0 25px;
    max-width: calc(50% - 50px);
  }
  .categories__row li span {
    margin-left: 40px;
  }

  .hero__title {
    font-size: 36px;
    margin-bottom: 35px;
  }
  .hero__subtitle {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .hero__inner {
    flex-direction: column;
    align-items: center;
  }
  .hero__buttons {
    justify-content: center;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-right: 0;
    margin-bottom: 40px;
  }
  .hero__img {
    width: auto;
  }

  .coop__inner {
    flex-direction: column-reverse;
  }
  .coop__img {
    width: 100%;
    padding-right: 0;
    text-align: center;
  }
  .coop__img img {
    width: 350px;
  }
  .coop__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
  }
  .coop__list {
    margin-bottom: 40px;
  }

  .form__item-textarea-caption {
    margin-right: 40px;
  }
}
@media screen and (max-width: 650px) {
  .section__title {
    font-size: 24px;
  }
  .section__subtitle {
    font-size: 14px;
  }

  .vacancy .section__title {
    text-align: left;
  }
  .vacancy .section__subtitle {
    text-align: left;
  }
  .vacancy__buttons {
    justify-content: flex-start;
  }
  .vacancy__btn {
    width: 100%;
  }
  .vacancy__title {
    text-align: left;
  }
  .vacancy__subtitle {
    text-align: left;
    font-size: 14px;
  }
  .vacancy__item:first-child {
    display: none;
  }

  .portfolio {
    display: block;
  }
  .portfolio__item {
    width: auto;
    margin-bottom: 30px;
    min-height: auto;
  }
  .portfolio__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 550px) {
  .section__title, .section__subtitle {
    text-align: left;
  }

  .btn {
    flex-grow: 1;
  }

  .editing__box-col .editing__item span {
    width: auto;
    margin-bottom: 5px;
  }
  .editing__box .editing__select-wrapper {
    max-width: calc(100% - 40px);
  }
  .editing__select-wrapper {
    display: block;
  }
  .editing__selects select {
    flex-grow: 1;
  }
  .editing__item-btn {
    margin-bottom: 7px;
  }
  .editing__item--edit {
    align-items: flex-end;
  }
  .editing__item > label {
    display: block;
  }
  .editing__item > label span {
    margin-bottom: 5px;
    width: auto;
    margin-right: 0;
  }

  .review__rating-item img {
    width: 15px;
    height: 15px;
  }
  .review__rating-title {
    font-size: 14px;
  }

  .profile__aside {
    display: block;
  }
  .profile__aside-col {
    display: block;
    width: auto;
    padding-left: 0;
  }
  .profile__btn {
    min-width: 250px;
  }

  .card {
    flex-direction: column;
  }
  .card__content {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .card__price {
    display: inline-block;
  }
  .card__price-caption {
    display: inline-block;
    margin-bottom: 10px;
  }
  .card__info {
    display: block;
    text-align: left;
  }

  .vacancy__price {
    margin-bottom: 10px;
  }

  .coop__btn {
    width: 100%;
  }
  .coop__img {
    width: 70%;
  }

  .why__img {
    width: 70%;
  }

  .vacancy__item-title {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .vacancy__item-inner {
    padding: 15px;
  }
  .vacancy__list {
    flex-wrap: nowrap;
  }
  .vacancy__item--all {
    flex-shrink: 0;
  }
  .vacancy__item-icon img {
    width: 18px;
  }

  .categories__row {
    flex-direction: column;
    margin: 0;
    padding-bottom: 10px;
  }
  .categories__row ul {
    margin: 0;
    max-width: 100%;
  }
  .categories__row li span {
    margin-left: 30px;
  }
  .categories__row li:last-child {
    margin-bottom: 20px;
  }

  .logo img {
    width: 140px;
  }

  .footer__col {
    width: 100%;
  }

  .hero__title {
    font-size: 32px;
    margin-bottom: 30px;
  }
  .hero__img {
    width: 70%;
  }

  .header {
    padding: 5px 0;
  }
  .header__buttons {
    display: none;
  }
  .header__btn {
    width: 100%;
  }
  .header__menu .header__buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .header__menu .header__btn {
    margin: 5px 0;
  }
  .header__burger {
    margin-left: 15px;
  }
  .header__avatar {
    margin-left: 15px;
  }
  .header__avatar img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 400px) {
  .editing__avatar {
    width: 100%;
  }
  .editing__avatar label > img {
    max-height: 400px;
    height: auto;
    width: 100%;
  }
  .editing__item-add .editing__item-add-value {
    width: calc(50% - 20px);
  }
  .editing__item-add .editing__item-add-name {
    width: calc(50% - 30px);
  }

  .profile__btn {
    width: 100%;
  }

  .review__answer {
    margin-left: 0;
  }

  .profile-photo > img {
    max-height: 400px;
    height: auto;
    width: 100%;
  }
}