.overflow-hidden {
	overflow: hidden;

	body {
		overflow: hidden;
	}
}

// Block scroll for Safari
.block-scroll {
	overflow: hidden;
	height: 100%;

	body {
		overflow: hidden;
		height: 100%;
	}
}
// /Block scroll for Safari

.page {
	.p-0 {
		padding: 0;
	}
	.pb-0 {
		padding-bottom: 0;
	}
	.pt-10 {
		padding-top: 10px;
	}
	.pb-60 {
		padding-bottom: 60px;
	}
	.pl-95 {
		padding-left: 95px;
	}
	.mt-40 {
		margin-top: 40px;
	}
	.mb-30 {
		margin-bottom: 30px;
	}
	.mb-45 {
		margin-bottom: 45px;
	}
	.mb-55 {
		margin-bottom: 55px;
	}
	.flex-start {
		align-items: flex-start;
	}
	.w-auto {
		width: auto;
	}
	.t-center {
		text-align: center;
	}
}


[data-tab-content] {
	display: none;
	&.active {
		display: block;
	}
}