.overflow-hidden {
	overflow: hidden;

	body {
		overflow: hidden;
	}
}

// Block scroll for Safari
.block-scroll {
	overflow: hidden;
	height: 100%;

	body {
		overflow: hidden;
		height: 100%;
	}
}
// /Block scroll for Safari
.page {
	.p-0 {
		padding: 0;
	}
	.pt-10 {
		padding-top: 10px;
	}
	.mb-30 {
		margin-bottom: 30px;
	}
	.mb-55 {
		margin-bottom: 55px;
	}
}