.footer {
	margin-top: auto;
	padding-top: 100px;
	padding-bottom: 135px;
	background: #044407;
	color: $white;

	&__inner {
		display: flex;
		justify-content: space-between;
		gap: 0 20px;
		padding-bottom: 60px;
		border-bottom: 1px solid #e0e0e0;
	}

	&__col {
		max-width: 255px;

		li {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.43;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			display: block;
			@media screen and (min-width: $mobileBreakpoint) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	&__title {
		margin-bottom: 20px;
		line-height: 1.56;
		font-weight: 500;
		font-size: 18px;
	}
}

.divider {
	height: 1px;
	background-color: #e0e0e0;
	margin: 20px 0;
}
