.modal {
	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(52, 50, 53, 0.81);
		display: flex;
		z-index: 30;
	}
	&__container {
		max-width: 950px;
		max-height: 90vh;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		box-sizing: border-box;
		margin: auto;
		width: 100%;
		padding: 15px;
	}
	&__inner {
		width: 100%;
		height: 100%;
		background-color: $white;
		border-radius: 15px;
		padding: 30px 86px 45px;
		position: relative;
	}
	&__content {
		margin: 0 auto;
	}
	&__close {
		padding: 0;
		position: absolute;
		right: 30px;
		top: 30px;
		border: none;
		background: 0;
	}

	&__title {
		font-family: 'Playfair Display', sans-serif;
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
		margin-bottom: 45px;
		text-align: center;
	}
}

.modal-add {
	font-size: 14px;
	&__main {
		display: flex;
		flex-wrap: wrap;
		gap: 0 30px;
	}

	&__col {
		width: calc(50% - 15px);
	}

	&__btn-wrapper {
		text-align: center;
	}

	&__images {
		margin-bottom: 30px;
	}

	&__images-title {
		display: flex;
		align-items: center;
		font-weight: 600;
		font-size: 16px;
		margin-bottom: 10px;
		color: $black;
		line-height: normal;
		img {
			flex-shrink: 0;
			margin-right: 10px;
		}
	}

	&__images-list {
		display: flex;
		flex-wrap: wrap;
		gap: 15px 30px;
	}

	&__images-item {
		background-color: #e0e0e0;
		border-radius: 10px;
		margin-bottom: 10px;
		position: relative;
		label {
			display: flex;
			width: 160px;
			height: 160px;
			img {
				width: 100%;
				height: 100%;
				border-radius: 10px;
			}
		}
		input {
			display: none;
		}
	}

	&__delete {
		position: absolute;
		right: 10px;
		top: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: $white;
	}

	&__btn {
		padding: 3px 28px;
		font-weight: 600;
	}
}

.modal-update {
	.modal__inner {
		padding: 30px 70px 80px;
	}
	.modal__container {
		max-width: 1245px;
	}

	&__row {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-wrap: wrap;
		gap: 10px 120px;
		margin-top: 8px;
		.form__item-textarea-caption {
			margin: 0;
		}
	}

	&__btn-wrapper {
		text-align: center;
		margin-top: 50px;
	}

	&__btn {
		min-width: 255px;
		font-weight: 600;
	}
}

.modal-finish {
	.modal__container {
		max-width: 605px;
	}
	.modal__inner {
		padding: 30px 95px 90px;
	}
	&.active {
		.modal__inner {
			padding: 30px 95px 50px;
		}
		.modal__container {
			max-width: 1140px;
		}
		.modal-finish__request {
			display: none;
		}
		.modal-finish__review {
			display: block;
		}
	}
	&__review {
		display: none;
		textarea {
			min-height: 168px;
		}
	}
	&__review-inner {
		gap: 30px;
		margin-bottom: 55px;
	}
	&__row {
		display: flex;
		flex-grow: 1;
	}

	&__text {
		font-weight: 500;
		font-size: 18px;
		margin-bottom: 75px;
		text-align: center;
	}
	&__buttons {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 15px 60px;
	}
	&__btn-primary {
		width: 255px;
		padding: 11px 20px;
	}
	&__btn-outline {
		padding: 11px 17px;
	}
}


.modal-review {
	.modal__inner {
			padding: 30px 95px 50px;
		}
		.modal__container {
			max-width: 1140px;
		}
		.modal-finish__request {
			display: none;
		}
		.modal-finish__review {
			display: block;
		}
}


/**************************\
    Demo Animation Style
\**************************/
@keyframes mmfadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes mmfadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes mmslideIn {
	from {
		transform: translateY(15%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes mmslideOut {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-10%);
	}
}

.micromodal-slide {
	display: none;
	.modal__container,
	.modal__overlay {
		will-change: transform;
	}
}

.micromodal-slide.is-open {
	display: block;
}

.micromodal-slide[aria-hidden='false'] .modal__overlay {
	animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='false'] .modal__container {
	animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__overlay {
	animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__container {
	animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
