.why {
	&__inner {
		display: flex;
		align-items: center;
	}

	&__content {
		width: 70%;
		padding-right: 30px;
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;
		margin: -10px -15px;
	}

	&__btn {
		margin: 10px 15px;
	}
	&__list {
		margin-bottom: 50px;
	}

	&__img {
		width: 30%;
	}
}
