body {
	min-width: 320px;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	line-height: 1.17;
	color: $main;
	background-color: $white;
}

button {
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
